
<body>
<div class="homepage testpage">
    <h1>SEARCH NEWS API</h1>
    <div id="article1">
        <h3> <%= title1 %> </h3>
        <p><%= description1 %> </p>
    </div>
    <div id="article2">
        <h3> <%= title2 %> </h3>
        <p> <%= description2 %></p>
    </div>

    <div id="article3">
        <h3><%= title3 %> </h3>
        <p> <%= description3 %></p>
    </div>

</div>
<script>
var title1 = "<%= title1 %>";
var description1 = "<%= description1 %>";

var title2 = "<%= title2 %>";
var description2 = "<%= description2 %>";

var title3 = "<%= title3 %>";
var description3 = "<%= description3 %>";
</script>


</body>
<style>
    .testpage
    {
    display: block;
    color: black;
    text-align: center;
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    body {
        background-image: url("https://data.whicdn.com/images/101350221/large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
    }


    h1 {
        color: rgb(61, 180, 235);
        font-family: cursive;
    }


</style>