<html>
    <head>
        <meta charset="utf-8">
        <title>News Query Results</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>value = localStorage["key"];</script>
        <link href="{{root}}public/stylesheets/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="topnav">
            <a href="/">New Search</a>
            <a href="/logout">Logout</a>
            <div class="dropdown" style="float:right;">
                <button class="dropbtn">Profile
                </button>
                <div class="dropdown-content">
                    <a href="#">Favorite Locations</a>
                    </select>
                </div>
            </div>
        </div>

        <div class="homepage testpage" align="center">
          <h1>Search results for <%= cityQuery %></h1>

            <div class="results-wrapper">
                <% articles.forEach(function(article, index){ %>
                    <div class="article-wrapper">
                        <div class="article-content">
                            <div class="article-picture">
                                <img src= <%= article.articlePicture %> alt="No Photos" width="100px" height="100px" object-fit="cover"></img>
                            </div>
                            <div class="article-description">
                                <h3><%= article.articleName %></h3>
                                <p><%= article.articleTagline %></p>
                                <p><a href="<%= article.articleURL %>" > Read more... </a></p>
                            </div>
                        </div>

                        <div class="tweet-content" id="tweets">
                            <% article.tweets.forEach(function(tweet, index){ %>
                             <div class="tweet">
                                <% if (article.numTweets > 0) { %>
                                    <p> <img src= <%= tweet.profileImage %> width="20px" height="20px"></img> <%= tweet.name %> | @<%= tweet.screenName %>  </p>
                                    <p> <%= tweet.text %></p>
                                <% } else{ %>
                                        <p> No Tweets Found </p>
                                <% } %>

                             </div>
                             <% }); %>
                        </div>

                    </div>
                <% }); %>
            </div>


        </div>
    </body>

</html>
<style>

    .topnav {
        background-color: none;
        overflow: hidden;
        width: 100%;
        margin-left: -10px;
        margin-top: -11px;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: none;
        color: black;
    }

    .article-wrapper {
        display:flex; flex-direction:column;
        border: 1px solid black;
        border-radius:1rem;
        box-shadow: 5px 5px #888888;
        margin-bottom: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        text-align:left;
        background: white;
    }

    .results-wrapper {
        width:50%;
    }

    .article-content {
        display:flex;
        text-align:left;
    }


    .article-picture {
        padding-right: 1rem;
    }


    html {
        display:table;
        height:100%;
        overflow-y: scroll;
    }

    body {
        background-image: linear-gradient(#00C9FF, #92FE9D);
        font-family: Arial, Helvetica, sans-serif;
    }


    h1 {
        color: rgb(61, 180, 235);
        font: 60px "Arial";
    }

    .dropdown {
        float: right;
        overflow: hidden;
        padding: 14px 16px;

    }

    .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: none;

    }

    .dropdown-content {
        display: none;
        float: hidden;
        position: absolute;
        right: 0;
        background-color: #8ee596;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        float: hidden;
        color: white;
        text-decoration: none;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: black;
        text-align: left;
        color: white;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }


</style>
