
<body>
<div class="homepage testpage">
    <h1>SEARCH NEWS API</h1>
    <div id="article1">
        <h3> <%= title1 %> </h3>
        <p>Description: <%= description1 %> </p>
        <p>Keywords: <%= keywords1 %> </p>
    </div>

</div>
<script>
var title1 = "<%= title1 %>";
var description1 = "<%= description1 %>";
var keywords1 = "<%= keywords1 %>";
</script>


</body>
<style>
    .testpage
    {
    display: block;
    color: black;
    text-align: center;
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    body {
        background-image: url("https://data.whicdn.com/images/101350221/large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
    }


    h1 {
        color: rgb(61, 180, 235);
        font-family: cursive;
    }


</style>